<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Job Cache</title>
</head>
<body>
<nav class="navbar py-4 navbar-expand fixed-top" style="background-color: navy;">
     <div class="container">
            <span class="navbar-brand text-light">SKILL AND JOB RECOMMENDER</span>
                <div id="navlist">
                    <script src="../static/js/navbar.js"></script>
                </div>
        </div>   
</nav>
{% block content %}
{% endblock %}
</body>
</html>