<body>
    <div>
        <div>
            1. Recommendation - [JobID - 35]
            Job Role : Forward Interactions Engineer
            Company Name : Dietrich - Gaylord
            Job Description : We are looking for a skilled react.js developer to join our front-end development team. In this role, you will be responsible for developing and implementing user interface components using React.js concepts and workflows such as Redux, Flux, and Webpack. You will also be responsible for profiling and improving front-end performance and documenting our front-end codebase.
            Skill : React JS
            Job Location : Bedfordshire
        </div>
        <div>
            2. Recommendation - [JobID - 65]
            Job Role : Corporate Applications Developer
            Company Name : McCullough and Sons
            Job Description : We are looking for a great JavaScript developer who is proficient with React.js. Your primary focus will be on developing user interface components and implementing them following well-known React.js workflows (such as Flux or Redux). You will ensure that these components and the overall application are robust and easy to maintain. You will coordinate with the rest of the team working on different layers of the infrastructure. Therefore, a commitment to collaborative problem-solving, sophisticated design, and quality product is important.
            Skill : React JS
            Job Location : Buckinghamshire
        </div>
    </div>
</body>
</html>